.return_details_main_div {
    border-color: rgba(0, 0, 0, 0.121);
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
    padding: 30px;
}

.return_details_image {
    height: 300px;
    width: 100%;
    border-radius: 20px;
}

.return_details_subdiv{
    border-color: rgba(0, 0, 0, 0.121);
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
    padding: 10px;
}
.return_maintext_color{
    color: #0084E4;
}
.return_subtext_color{
    color: #0084E4;
}

.track_return_status_alert{
    color: #0472c0;
}

.alert_msg_box{
    border-color: rgba(0, 0, 0, 0.27);
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
    padding: 10px;
    text-align: justify;
}
/* Payment */
.pay_text_color{
    color: #0084E4;

}
.payment_main_div{
    width: 70%;
    border-color: rgba(0, 0, 0, 0.121);
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
    padding: 50px;
}