.section-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: #007bff;
    padding-top: 10px;
}

.profile-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 17.86px;
    color: #007bff;
    font-weight: 500;
}

.address, .controls {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.255);
    padding: 21px 38px;
    font-size: 20px;
}

.form-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #007bff;

}

.form-control {
    color: #999;
}

.form-control::placeholder {
    color: #999;
}

.option-district {
    color: #999;
}

.btn-warning {
    width: 200px;
    height: 50px;
    gap: 25.71px;
    background: #FF9900;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 30.48px;
    text-align: center;
}

.btn-warning:hover{
    background-color: #1d2c61dd;
    color: white;
}

.span-required {
    color: red;
}
.delivery-profile{
    text-align: center;
}