/* .shopsmain-container {
    display: flex;
  }
  
  .shopsmain-sidebar {
    flex: 1;
    max-width: 300px; 
  }
  
  .shopsmain-content {
    flex: 3;
    padding: 0px;
  }
   */

   /* Shopmain.css */
   .shopsmain-container {
    display: flex;
    min-height: 100vh;
  }
  
  .shopsmain-sidebar {
    flex: 0 0 300px; 
    background-color: #1d2c61;
    position: fixed; 
    height: 100vh; 
    overflow: auto;
  }
  
  .shopsmain-content {
    margin-left: 300px;
    flex: 1;
    overflow: auto; 
  }
  
/* Shopsidebar.css */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d2c61;
  color: #ffffff;
  padding-top: 20px;
  width: 300px;
}
