.Complain_head_text {
    color: #00A3FF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px;
}

.Complain_body_number {
    color: #142349;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: center;
    padding: 10px;
}

.Complain_body_text {
    color: #142349;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Complain_body_texts{
    color: #142349;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-width:5px;
}